Flask                
Flask-Login         
Flask-SQLAlchemy     
python-dotenv        
stripe            
pymysql          
WTForms          
Flask-WTF          
email-validator      
Werkzeug
reportlab